<section class="collection">

	<article>
		<section>
			<%= link_to '', social_path %>
			<h1>
				<div class="name">THE WALLET</div>
				<div class="price">$280.00</div>
			</h1>
		</section>
		<img alt="Phillip lim" src="http://s3.amazonaws.com/kingandpartners-production/attachments/grids/assets/000/000/137/default/robert-rodriguez.jpg?1378657169">
	</article>

	<article>
		<section>
			<%= link_to '', social_path %>
			<h1>
				<div class="name">THE WALLET</div>
				<div class="price">$280.00</div>
			</h1>
		</section>
		<img alt="Phillip lim" src="http://s3.amazonaws.com/kingandpartners-production/attachments/grids/assets/000/000/137/default/robert-rodriguez.jpg?1378657169">
	</article>

	<article>
		<section>
			<%= link_to '', social_path %>
			<h1>
				<div class="name">THE WALLET</div>
				<div class="price">$280.00</div>
			</h1>
		</section>
		<img alt="Phillip lim" src="http://s3.amazonaws.com/kingandpartners-production/attachments/grids/assets/000/000/137/default/robert-rodriguez.jpg?1378657169">
	</article>

	<article>
		<section>
			<%= link_to '', social_path %>
			<h1>
				<div class="name">THE WALLET</div>
				<div class="price">$280.00</div>
			</h1>
		</section>
		<img alt="Phillip lim" src="http://s3.amazonaws.com/kingandpartners-production/attachments/grids/assets/000/000/137/default/robert-rodriguez.jpg?1378657169">
	</article>

	<article>
		<section>
			<%= link_to '', social_path %>
			<h1>
				<div class="name">THE WALLET</div>
				<div class="price">$280.00</div>
			</h1>
		</section>
		<img alt="Phillip lim" src="http://s3.amazonaws.com/kingandpartners-production/attachments/grids/assets/000/000/137/default/robert-rodriguez.jpg?1378657169">
	</article>

	<article>
		<section>
			<%= link_to '', social_path %>
			<h1>
				<div class="name">THE WALLET</div>
				<div class="price">$280.00</div>
			</h1>
		</section>
		<img alt="Phillip lim" src="http://s3.amazonaws.com/kingandpartners-production/attachments/grids/assets/000/000/137/default/robert-rodriguez.jpg?1378657169">
	</article>

</section>