<section class="collection">

	<article>
		<section>
			<%= link_to '', social_path %>
			<h1>
				<div class="name">THE WALLET</div>
				<div class="price">$280.00</div>
			</h1>
		</section>
		<img alt="Phillip lim" src="http://images.thesource.com.s3.amazonaws.com/wp-content/uploads/2013/12/Kanye-West1.jpg">
	</article>

	<article>
		<section>
			<%= link_to '', social_path %>
			<h1>
				<div class="name">THE WALLET</div>
				<div class="price">$280.00</div>
			</h1>
		</section>
		<img alt="Phillip lim" src="http://images.thesource.com.s3.amazonaws.com/wp-content/uploads/2013/12/Kanye-West1.jpg">
	</article>

	<article>
		<section>
			<%= link_to '', social_path %>
			<h1>
				<div class="name">THE WALLET</div>
				<div class="price">$280.00</div>
			</h1>
		</section>
		<img alt="Phillip lim" src="http://images.thesource.com.s3.amazonaws.com/wp-content/uploads/2013/12/Kanye-West1.jpg">
	</article>

	<article>
		<section>
			<%= link_to '', social_path %>
			<h1>
				<div class="name">THE WALLET</div>
				<div class="price">$280.00</div>
			</h1>
		</section>
		<img alt="Phillip lim" src="http://images.thesource.com.s3.amazonaws.com/wp-content/uploads/2013/12/Kanye-West1.jpg">
	</article>

	<article>
		<section>
			<%= link_to '', social_path %>
			<h1>
				<div class="name">THE WALLET</div>
				<div class="price">$280.00</div>
			</h1>
		</section>
		<img alt="Phillip lim" src="http://images.thesource.com.s3.amazonaws.com/wp-content/uploads/2013/12/Kanye-West1.jpg">
	</article>

	<article>
		<section>
			<%= link_to '', social_path %>
			<h1>
				<div class="name">THE WALLET</div>
				<div class="price">$280.00</div>
			</h1>
		</section>
		<img alt="Phillip lim" src="http://images.thesource.com.s3.amazonaws.com/wp-content/uploads/2013/12/Kanye-West1.jpg">
	</article>

</section>