<% provide(:title, raw("MEN'S LUXURY PYTHON ACCESSORIES")) %>

<div id="collection-container" class="fadeInUp">
  <div class="product"><a href="/product"><%= image_tag("p12.jpg") %><div class="name">Backpack</div><div class="price">$900</div></a></div>
  <div class="product"><a href="/product"><%= image_tag("p7.jpeg") %><div class="name">Holdall</div><div class="price">$1050</div></a></div>
  <div class="product"><a href="/product"><%= image_tag("p8.jpg") %><div class="name">Wallet</div><div class="price">$190</div></a></div>
  <div class="product"><a href="/product"><%= image_tag("p9.jpg") %><div class="name">iPad Case</div><div class="price">$320</div></a></div>
  <div class="product"><a href="/product"><%= image_tag("p10.jpg") %><div class="name">iPad mini Case</div><div class="price">$280</div></a></div>
  <div class="product"><a href="/product"><%= image_tag("p11.jpg") %><div class="name">Cardholder</div><div class="price">$120</div></a></div>
</div>