<% provide(:title, raw("MEN'S LUXURY PYTHON ACCESSORIES")) %>

<div id="collection-container" class="fadeInUp">
	<div class="product"><%= image_tag("p12.jpg") %><a href="/product"><div class="product-overlay"><div class="product-text">Backpack<br>$900</div></div></a></div>
	<div class="product"><%= image_tag("p7.jpeg") %><a href="/product"><div class="product-overlay"><div class="product-text">Holdall<br>$1050</div></div></a></div>
	<div class="product"><%= image_tag("p8.jpg") %><a href="/product"><div class="product-overlay"><div class="product-text">Wallet<br>$190</div></div></a></div>
	<div class="product"><%= image_tag("p9.jpg") %><a href="/product"><div class="product-overlay"><div class="product-text">iPad mini Case<br>$320</div></div></a></div>
	<div class="product"><%= image_tag("p10.jpg") %><a href="/product"><div class="product-overlay"><div class="product-text">iPad case<br>$400</div></div></a></div>
	<div class="product"><%= image_tag("p11.jpg") %><a href="/product"><div class="product-overlay"><div class="product-text">Cardholder<br>$120</div></div></a></div>
</div>