<% provide(:title, raw("MEN'S LUXURY PYTHON ACCESSORIES")) %>

<section class="collection">

	<article>
		<section>
			<%= link_to '', social_path %>
			<h1>
				<div class="name">THE WALLET</div>
				<div class="price">$280.00</div>
			</h1>
		</section>
		<%= image_tag("kanyewest.jpg") %>
	</article>

	<article>
		<section>
			<%= link_to '', social_path %>
			<h1>
				<div class="name">THE WALLET</div>
				<div class="price">$280.00</div>
			</h1>
		</section>
		<%= image_tag("kanyewest.jpg") %>
	</article>

	<article>
		<section>
			<%= link_to '', social_path %>
			<h1>
				<div class="name">THE WALLET</div>
				<div class="price">$280.00</div>
			</h1>
		</section>
		<%= image_tag("kanyewest.jpg") %>
	</article>

	<article>
		<section>
			<%= link_to '', social_path %>
			<h1>
				<div class="name">THE WALLET</div>
				<div class="price">$280.00</div>
			</h1>
		</section>
		<%= image_tag("kanyewest.jpg") %>
	</article>

	<article>
		<section>
			<%= link_to '', social_path %>
			<h1>
				<div class="name">THE WALLET</div>
				<div class="price">$280.00</div>
			</h1>
		</section>
		<%= image_tag("kanyewest.jpg") %>
	</article>

	<article>
		<section>
			<%= link_to '', social_path %>
			<h1>
				<div class="name">THE WALLET</div>
				<div class="price">$280.00</div>
			</h1>
		</section>
		<%= image_tag("kanyewest.jpg") %>
	</article>

</section>