<div class="product-container fadeInUp">
	<div class="product-selection">
		<%= image_tag("p12.jpg") %><%= image_tag("p12.jpg") %><%= image_tag("p12.jpg") %><%= image_tag("p12.jpg") %><%= image_tag("p12.jpg") %><%# image_tag("p12.jpg") %>
	</div>
	<div class="product-photo">
		<%= image_tag("p12.jpg") %>
	</div>
	<div class="product-details">
		<div class="name">Wallet</div>
		<div class="price">$190</div>
		<div class="description">
			Italian matte black python, French calf leather, French goatskin leather. Made in Scandicci, Italy. 
		</div>
		<button class="add-to-bag">Add To Bag</button>
	</div>
</div>