<% provide(:title, 'SOCIAL') %>

<div id="masonry-container" class="fadeInUp">
<div class="item-container">
	<div class="item">
		<p>A curated collection of LUKE MACAULEY images, from our Twitter, Instagram and Facebook.</p>
		<%= link_to image_tag("twitter.svg", class: "twitter", alt: "Twitter"), "http://www.twitter.com/lukemacauley", target: "_blank" %>
		<%= link_to image_tag("instagram.svg", class: "instagram", alt: "Instagram"), "http://www.instagram.com/lukemacauley", target: "_blank" %>
		<%= link_to image_tag("facebook.svg", class: "facebook", alt: "Facebok"), "http://www.facebook.com/lukemacauley", target: "_blank" %>
	</div>
	<div class="item"><%= image_tag("1.jpg") %><div class="item-overlay"><div class="social-text">A curated collection of LUKE MACAULEY images, from our Twitter, Instagram and Facebook.A curated collection of LUKE MACAULEY images, from our Twitter, Instagram and Facebook.A curated collection of LUKE MACAULEY images, from our Twitter, Instagram and Facebook.</div></div></div>
  <div class="item"><%= image_tag("2.jpeg") %><div class="item-overlay"><div class="social-text">A curated collection of LUKE MACAULEY images, from our Twitter, Instagram and Facebook.</div></div></div>
  <div class="item"><%= image_tag("3.jpg") %><div class="item-overlay"><div class="social-text">A curated collection of LUKE MACAULEY images, from our Twitter, Instagram and Facebook.</div></div></div>
  <div class="item"><%= image_tag("4.jpg") %><div class="item-overlay"><div class="social-text">A curated collection of LUKE MACAULEY images, from our Twitter, Instagram and Facebook.</div></div></div>
  <div class="item"><%= image_tag("5.jpg") %><div class="item-overlay"><div class="social-text">A curated collection of LUKE MACAULEY images, from our Twitter, Instagram and Facebook.</div></div></div>
  <div class="item"><%= image_tag("6.jpg") %><div class="item-overlay"><div class="social-text">A curated collection of LUKE MACAULEY images, from our Twitter, Instagram and Facebook.</div></div></div>
  <div class="item"><%= image_tag("7.jpg") %><div class="item-overlay"><div class="social-text">A curated collection of LUKE MACAULEY images, from our Twitter, Instagram and Facebook.</div></div></div>
  <div class="item"><%= image_tag("8.png") %><div class="item-overlay"><div class="social-text">A curated collection of LUKE MACAULEY images, from our Twitter, Instagram and Facebook.</div></div></div>
  <div class="item"><%= image_tag("11.jpg") %><div class="item-overlay"><div class="social-text">A curated collection of LUKE MACAULEY images, from our Twitter, Instagram and Facebook.</div></div></div>
  <div class="item"><%= image_tag("4.jpg") %><div class="item-overlay"><div class="social-text">A curated collection of LUKE MACAULEY images, from our Twitter, Instagram and Facebook.</div></div></div>
  <div class="item"><%= image_tag("5.jpg") %><div class="item-overlay"><div class="social-text">A curated collection of LUKE MACAULEY images, from our Twitter, Instagram and Facebook.</div></div></div>
  <div class="item"><%= image_tag("6.jpg") %><div class="item-overlay"><div class="social-text">A curated collection of LUKE MACAULEY images, from our Twitter, Instagram and Facebook.</div></div></div>
  <div class="item"><%= image_tag("7.jpg") %><div class="item-overlay"><div class="social-text">A curated collection of LUKE MACAULEY images, from our Twitter, Instagram and Facebook.</div></div></div>
  <div class="item"><%= image_tag("8.png") %><div class="item-overlay"><div class="social-text">A curated collection of LUKE MACAULEY images, from our Twitter, Instagram and Facebook.</div></div></div>
</div>
</div>