<% provide(:title, 'SOCIAL') %>

<div id="masonry-container" class="">
  <div class="item"><%= image_tag("1.jpg") %></div>
  <div class="item"><%= image_tag("2.jpeg") %></div>
  <div class="item"><%= image_tag("3.jpg") %></div>
  <div class="item"><%= image_tag("4.jpg") %></div>
  <div class="item"><%= image_tag("5.jpg") %></div>
  <div class="item"><%= image_tag("6.jpg") %></div>
  <div class="item"><%= image_tag("7.jpg") %></div>
  <div class="item"><%= image_tag("8.png") %></div>
  <div class="item"><%= image_tag("11.jpg") %></div>
  <div class="item"><%= image_tag("4.jpg") %></div>
  <div class="item"><%= image_tag("5.jpg") %></div>
  <div class="item"><%= image_tag("6.jpg") %></div>
  <div class="item"><%= image_tag("7.jpg") %></div>
  <div class="item"><%= image_tag("8.png") %></div>
</div>

<!-- <section class="social">

	<article class="tweet">
		<section>
			<%# link_to '', social_path %>
			<h3>
				<div class="text">THE WALLET</div>
			</h3>
		</section>
	</article>

	<article class="tweet">
		<section>
			<%# link_to '', social_path %>
			<h3>
				<div class="text">Meech was sentenced in THE SAME MONTH the recession really hit RT @GUNSandcrayons: When Big MEECH left entire economy went down</div>
			</h3>
		</section>
		<%# image_tag("kanyewest.jpg") %>
	</article>

	<article class="tweet">
		<section>
			<%# link_to '', social_path %>
			<h3>
				<div class="text">THE WALLET</div>
			</h3>
		</section>
		<%# image_tag("kanyewest1.jpg") %>
	</article>

	<article class="tweet">
		<section>
			<%# link_to '', social_path %>
			<h3>
				<div class="text">THE WALLET</div>
			</h3>
		</section>
		<%# image_tag("vb1.jpg") %>
	</article>

	<article class="tweet">
		<section>
			<%# link_to '', social_path %>
			<h3>
				<div class="text">THE WALLET</div>
			</h3>
		</section>
		<%# image_tag("t1.jpg") %>
	</article>

	<article class="tweet">
		<section>
			<%# link_to '', social_path %>
			<h3>
				<div class="text">THE WALLET</div>
			</h3>
		</section>
		<%# image_tag("vb1.jpg") %>
	</article>

</section> -->