<footer id="footer">
	<ul>
		<li><%= link_to 'The Brand', thebrand_path, class: "footer_links" %></li>
		<li><%= link_to image_tag("lm_logo.svg", alt: "LUKE MACAULEY", class: "logo"), root_path %></li>
		<li><%= link_to 'Social', social_path, class: "footer_links" %></li>
	</ul>
</footer>
<footer id="subfooter">
	<ul>
		<li><%= link_to 'Contact', contact_path %></li>
		<li><%= link_to 'Subscribe', 'javascript:void(0)' %></li>
		<li><%= link_to "Delivery", delivery_path %></li>
		<li><%= link_to "Returns", returns_path %></li>
		<li><%= link_to "Legal", legal_path %></li>
	</ul>
</footer>
<footer id="mobile_footer">
	<ul>
		<li><%= link_to image_tag("lm_logo.svg", alt: "LUKE MACAULEY", class: "logo"), root_path %></li>
		<li><%= link_to image_tag("menu.svg", alt: "LUKE MACAULEY", class: "menu"), 'javascript:void(0)' %></li>
	</ul>
</footer>