<footer>
	<ul>
		<li><%= link_to 'About', about_path, class: "footer_links" %></li>
		<li><%= link_to 'Social', social_path, class: "footer_links" %></li>
		<li><%= link_to image_tag("lm_logo.png", alt: "LUKE MACAULEY", class: "logo"), root_path %></li>
		<li><%= link_to 'Press', press_path, class: "footer_links" %> </li>
		<li><%= link_to 'Contact', contact_path, class: "footer_links contact" %> </li>
	</ul>
	<!-- <ul class="footer_links social">
		<li><%= link_to image_tag("facebook_logo.png"), "http://www.facebook.com/lukemacauley", target: "_blank" %></li>
		<li><%= link_to image_tag("twitter_logo.png"), "http://www.twitter.com/lukemacauley", target: "_blank" %></li>
		<li><%= link_to image_tag("instagram_logo.png"), "http://www.instagram.com/lukemacauley", target: "_blank" %></li>
	</ul> -->
</footer>