<section class="mobile_nav">
	<ul>
		<li><%= link_to "Close", 'javascript:void(0)', class: "mobile_nav_links close" %></li>
		<li></li>
		<li><%= link_to "Shop", root_path, class: "mobile_nav_links" %></li>
		<li><%= link_to 'The Brand', thebrand_path, class: "mobile_nav_links" %></li>
		<li><%= link_to 'Social', social_path, class: "mobile_nav_links" %></li>
		<li></li>
		<li><%= link_to 'Contact', contact_path, class: "mobile_nav_links" %></li>
		<li><%= link_to 'Subscribe', 'javascript:void(0)', class: "mobile_nav_links" %></li>
		<li><%= link_to "Delivery", delivery_path, class: "mobile_nav_links" %></li>
		<li><%= link_to "Returns", returns_path, class: "mobile_nav_links" %></li>
		<li><%= link_to "Legal", legal_path, class: "mobile_nav_links" %></li>
	</ul>
</section>